$lobster: bisque;
$font-stack: Volkhov;
$red: red;

body {
  background-color: $lobster;
  font: $font-stack;
}

h1{
  text-align: center;
}

.main-container {

}

.search-bar-spacing{
  margin-bottom: 20px;
}

